__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
*.log
node_modules/
frontend/node_modules
.DS_Store
.vscode/
.idea/
postgres_data/
Melhorias.md
PERMISSIONS.md
implementation_fase3.md
.claude
.interface-design
.agent
docs
.agents
.codex
